
  <div class="container-fluid">
  <footer class="row d-flex justify-content-center rodape">
      <hr/>
    <div class="container">
      <div class=" item text-center">


      <ul class="redesSociais">
          <li>
              <a href="#" target="_blank">
                  <img width="50" src="../../assets/img/facebook.png" alt="Logo Facebook"/>
              </a>
          
              <a href="#" target="_blank">
                  <img width="50" src="../../assets/img/instagram.png" alt="Logo Instagram"/>
              </a>
      
              <a href="#" target="_blank">
                  <img width="50" src="../../assets/img/BotaoEmail.png" alt="Logo Email"/>
              </a>
          </li>
      </ul>

      </div>
    </div>

    <hr />
    <p class="text-center">
      Todos os direitos reservados: Girls Camp &copy;
    </p>
  </footer>

  </div>

 
