<div class="container-fluid bg">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="font-weight-bolder text-monospace p-4">Equipe de Devs</h1>
    </div>
  </div>
</div>

<!----------------------------------------->

<div class="row d-flex justify-content-end mt-5">
  <div class="col-2 align-self-center">
    <img class="imgSize" src="../../assets/img/carol.jpg" alt="" />
  </div>
  <div class="col-6 bgColor mx-3">
    <h5 class="text-center my-3">Carol</h5>
    <p class="text-right mx-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
      maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
      veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
    </p>
    <hr class="mx-5" />
    <div class="d-flex justify-content-center">
      <ul class="redesSociais">
        <li>
          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/facebook.png"
              alt="Logo Facebook"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/instagram.png"
              alt="Logo Instagram"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/BotaoEmail.png"
              alt="Logo Email"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!----------------------------------------->
<div class="container mx-5 my-5">
  <hr />
</div>
<!----------------------------------------->

<div class="row d-flex justify-content-start">
  <div class="col-6 bgColor mx-3">
    <h5 class="text-center my-3">Gilson</h5>
    <p class="text-right mx-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
      maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
      veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
    </p>
    <hr class="mx-5" />
    <div class="d-flex justify-content-center">
      <ul class="redesSociais">
        <li>
          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/facebook.png"
              alt="Logo Facebook"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/instagram.png"
              alt="Logo Instagram"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/BotaoEmail.png"
              alt="Logo Email"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2 align-self-center">
    <img class="imgSize" src="../../assets/img/gilson.jpg" alt="" />
  </div>
</div>
<!----------------------------------------->
<div class="container mx-5 my-5">
  <hr />
</div>
<!----------------------------------------->

<div class="row d-flex justify-content-end">
  <div class="col-2 align-self-center mr-3">
    <img class="imgSize" src="../../assets/img/helena.jpg" alt="" />
  </div>
  <div class="col-6 bgColor mx-3">
    <h5 class="text-center my-3">Helena</h5>
    <p class="text-right mx-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
      maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
      veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
    </p>
    <hr class="mx-5" />
    <div class="d-flex justify-content-center">
      <ul class="redesSociais">
        <li>
          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/facebook.png"
              alt="Logo Facebook"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/instagram.png"
              alt="Logo Instagram"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/BotaoEmail.png"
              alt="Logo Email"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!----------------------------------------->
<div class="container mx-5 my-5">
  <hr />
</div>
<!----------------------------------------->

<div class="row d-flex justify-content-start">
  <div class="col-6 bgColor mx-3">
    <h5 class="text-center my-3">Patrick</h5>
    <p class="text-right mx-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
      maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
      veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
    </p>
    <hr class="mx-5" />
    <div class="d-flex justify-content-center">
      <ul class="redesSociais">
        <li>
          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/facebook.png"
              alt="Logo Facebook"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/instagram.png"
              alt="Logo Instagram"
            />
          </a>

          <a href="#" target="_blank">
            <img
              width="50"
              src="../../assets/img/BotaoEmail.png"
              alt="Logo Email"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2 align-self-center">
    <img class="imgSize" src="../../assets/img/patrick.jpg" alt="" />
  </div>
</div>
<!----------------------------------------->
<div class="container mx-5 my-5">
  <hr />
</div>