<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <title>Sobre</title>
</head>

<body>
  <!--Texto Sobre o projeto e logo do proejto-->

  <div class="container-fluid content">
    <div class="imageSobre align-middle">
      <img src="../../assets/img/logoProjeto.png" alt="" />
    </div>
    <div class="sobreText">
      <h1>Projeto Girls Camp</h1>
      <div class="descricao">
        <p>
          <b>Girls Camp é um projeto que nasceu com a finalidade de integrar, a partir de um espaço seguro e anônimo, as ferramentas necessárias à comunicação entre as mulheres. Com base em uma rede social simples e extremamente funcional, reúne profissionais da saúde e usuários para interação, desabafo, auxílio mútuo e possibilidade de contatos emergenciais. Foca-se na contribuição à meta da ODS da ONU responsável pela garantia de igualdade de gênero. Conecte-se.
          </b>
        </p>
      </div>
    </div>
  </div>
  <div class="minText">
    <div class="minTextTitle">
      <h1>Projeto Girls Camp</h1>
    </div>
    <div class="minDescrip">
      <p>
        <b>Girls Camp é um projeto que nasceu com a finalidade de integrar, a partir de um espaço seguro e anônimo, as ferramentas necessárias à comunicação entre as mulheres. Com base em uma rede social simples e extremamente funcional, reúne profissionais da saúde e usuários para interação, desabafo, auxílio mútuo e possibilidade de contatos emergenciais. Foca-se na contribuição à meta da ODS da ONU responsável pela garantia de igualdade de gênero. Conecte-se.
        </b>
      </p>
    </div>
  </div>
  <div class="circulos">
    <ul>
      <img src="../../assets/img/Ellipse 4.png" alt="" />
      <img src="../../assets/img/Ellipse 4.png" alt="" />
      <img src="../../assets/img/Ellipse 4.png" alt="" />
      <img src="../../assets/img/Ellipse 4.png" alt="" />
    </ul>
  </div>

  <!--Contatos-->
  <div class="container-fluid bg">
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="font-weight-bolder text-monospace p-4">Equipe de Devs</h1>
      </div>
    </div>
  </div>

  <!----------------------------------------->
  <div class="container" style="margin-bottom: 5rem">
    <div class="row d-flex justify-content-end mt-5">
      <div class="col-12 col-xl-3 align-self-center mb-4" style="text-align: center">
        <img class="imgSize" src="../../assets/img/carol.jpg" alt="" />
      </div>
      <div class="col-12 col-xl-6 bgColor">
        <h5 class="text-center my-3">Carolina</h5>
        <p class="text-right mx-3">
          Tenho 21 anos, antes de terminar o ensino médio me vi sem saber o que fazer no meu
          futuro,
          vi o mundo da tecnologia com outros olhos quando comecei um curso de computação gráfica na Saga, e foi quando
          descobri o que
          mais queria fazer, que era Ciência da Computação. Após começar a faculdade, me vi pouco preparada ao mercado
          de trabalho,
          então por coincidência fui apresentada ao bootcamp da Generation Brazil, lá eu aprofundei os meus
          conhecimentos em programação, e minhas soft skills. Com a coragem, curiosidade, e criatividade posso dizer que
          sou uma
          desenvolvedora Java Jr Fullstack com muita vontade de aprender mais.
        </p>
        <hr class="mx-5" />
        <div class="d-flex justify-content-center">
          <ul class="redesSociais">
            <li>
              <a href="https://www.linkedin.com/in/carolina-rivera-a0b146189/" target="_blank">
                <img width="50" src="../../assets/img/linkedin.png" alt="Logo Linkedin" />
              </a>

              <a href="https://www.instagram.com/dll_caarolrib/" target="_blank">
                <img width="50" src="../../assets/img/instagram.png" alt="Logo Instagram" />
              </a>

              <a href="https://github.com/CarolRivera192" target="_blank">
                <img width="50" src="../../assets/img/GitRosaTransp.png" alt="Logo GitHub" />
              </a>

              

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------------------->
  <!----------------------------------------->
  <div class="container" style="margin-bottom: 5rem">
    <div class="row g-0 d-flex justify-content-start gilson">
      <div class="col-12 col-xl-6 bgColor mx-3">
        <h5 class="text-center my-3">Gilson</h5>
        <p class="text-right mx-3">
          Bacharel em Geografia (USP) e estudante de Administração (UNIFESP), onde atuo como consultor comercial na Empresa Júnior. Apaixonado por programação e cidades, fui professor durante 4 anos até decidir voltar-me profissionalmente aos códigos e projetos.
          Encontrei no curso da Generation Brasil o alicerce necessário à transição de carreira e trabalho na intersecção dessas áreas. Nesse sentido, estou totalmente focado em oportunidades que envolvam tecnologia e negócios.
        </p>
        <hr class="mx-5" />
        <div class="d-flex justify-content-center">
          <ul class="redesSociais">
            <li>
              <a href="https://www.linkedin.com/in/gilsonmj" target="_blank">
                <img width="50" src="../../assets/img/linkedin.png" alt="Logo Linkedin" />
              </a>

              <a href="https://www.instagram.com/gilson_mj/" target="_blank">
                <img width="50" src="../../assets/img/instagram.png" alt="Logo Instagram" />
              </a>

              <a href="https://github.com/gilsonmirandaj" target="_blank">
                <img width="50" src="../../assets/img/GitRosaTransp.png" alt="Logo GitHub" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-xl-3 align-self-center mb-4" style="text-align: center">
        <img class="imgSize" src="../../assets/img/gilson.jpg" alt="" />
      </div>
    </div>
  </div>

  <!----------------------------------------->
  <!----------------------------------------->
  <div class="container" style="margin-bottom: 5rem">
    <div class="row g-0 d-flex justify-content-end">
      <div class="col-12 col-xl-3 align-self-center mr-3 mb-4" style="text-align: center">
        <img class="imgSize" src="../../assets/img/helena.jpg" alt="" />
      </div>
      <div class="col-12 col-xl-6 bgColor mx-3">
        <h5 class="text-center my-3">Helena</h5>
        <p class="text-right mx-3">
          O início da minha jornada profissional foi em design gráfico e após
          anos neste caminho, não me via apaixonada pela minha profissão
          quanto poderia ser, deste modo fui apresentada a tecnologia pela
          minha irmã, onde encontrei minha paixão. Iniciei a faculdade de
          Análise e Desenvolvimento de Sistemas em Janeiro e fui aceita no
          bootcamp de Java FullStack Jr Developer na Generation da McKinsey e
          Company, onde estruturei em base sólida meus conhecimentos técnicos,
          além das minhas soft skills. Com o desejo de sempre melhorar e
          crescer, por mim e pela minha companheira de vida, minha filha, esse
          é o começo da minha carreira.
        </p>
        <hr class="mx-5" />
        <div class="d-flex justify-content-center">
          <ul class="redesSociais">
            <li>
              <a href="https://www.linkedin.com/in/helenamanjko/" target="_blank">
                <img width="50" src="../../assets/img/linkedin.png" alt="Logo Linkedin" />
              </a>

              <a href="https://www.instagram.com/helenamanjko/" target="_blank">
                <img width="50" src="../../assets/img/instagram.png" alt="Logo Instagram" />
              </a>

              <a href="https://github.com/helenamanjko" target="_blank">
                <img width="50" src="../../assets/img/GitRosaTransp.png" alt="Logo GitHub" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------------------->

  <!----------------------------------------->
  <div class="container" style="margin-bottom: 5rem">
    <div class="row g-0 d-flex justify-content-start patrick">
      <div class="col-12 col-xl-6 bgColor mx-3">
        <h5 class="text-center my-3">Patrick</h5>
        <p class="text-right mx-3">
          Desde criança sempre fui muito curioso pela área de tecnologia, já desmontava brinquedos para saber o que tinha dentro, tentava consertá-los quando dava problema, também era muito curioso pelos computadores, como eles funcionavam e isso me despertou interesse em entrar para a área de desenvolvimento, e hoje dentro desta área vejo que foi uma paixão. Sempre busco estar antenado pelo fato de que a cada dia é descoberta e lançada uma nova tecnologia no mercado, também procuro estudar coisas novas e sempre sair da minha zona de conforto, isso é o que me faz ser um bom profissional na área de tecnologia.
        </p>
        <hr class="mx-5" />
        <div class="d-flex justify-content-center">
          <ul class="redesSociais">
            <li>
              <a href="https://www.linkedin.com/in/patrick-santana-220324146/" target="_blank">
                <img width="50" src="../../assets/img/linkedin.png" alt="Logo Linkedin" />
              </a>

              <a href="https://www.instagram.com/patrick.santanaa/" target="_blank">
                <img width="50" src="../../assets/img/instagram.png" alt="Logo Instagram" />
              </a>

              <a href="https://github.com/patrick-prog56" target="_blank">
                <img width="50" src="../../assets/img/GitRosaTransp.png" alt="Logo GitHub" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-xl-3 mb-4" style="text-align: center">
        <img class="imgSize" src="../../assets/img/patrick.jpg" alt="" />
      </div>
    </div>
  </div>
</body>

</html>