<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Sobre</title>
  </head>
  <body>
    <!--Texto Sobre o projeto e logo do proejto-->

    <div class="container-fluid content">
      <div class="imageSobre align-middle">
        <img src="../../assets/img/logoProjeto.png" alt="" />
      </div>
      <div class="sobreText">
        <h1>Projeto Girls Camp</h1>
        <div class="descricao">
          <p>
            <b
              >O projeto Girls Camp engloba a formação de um espaço seguro para
              facilitar a comunicação entre mulheres de todo o país. O projeto
              Girls Camp engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país. O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país. O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país. O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país. O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país. O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país.O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país.O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país.O projeto Girls Camp
              engloba a formação de um espaço seguro para facilitar a
              comunicação entre mulheres de todo o país.
            </b>
          </p>
        </div>
      </div>
    </div>
    <div class="minText">
      <div class="minTextTitle">
        <h1>Projeto Girls Camp</h1>
      </div>
      <div class="minDescrip">
        <p>
          <b
            >O projeto Girls Camp engloba a formação de um espaço seguro para
            facilitar a comunicação entre mulheres de todo o país. O projeto
            Girls Camp engloba a formação de um espaço seguro para facilitar a
            comunicação entre mulheres de todo o país. O projeto Girls Camp
            engloba a formação de um espaço seguro para facilitar a comunicação
            entre mulheres de todo o país. O projeto Girls Camp engloba a
            formação de um espaço seguro para facilitar a comunicação entre
            mulheres de todo o país. O projeto Girls Camp engloba a formação de
            um espaço seguro para facilitar a comunicação entre mulheres de todo
            o país. O projeto Girls Camp engloba a formação de um espaço seguro
            para facilitar a comunicação entre mulheres de todo o país. O
            projeto Girls Camp engloba a formação de um espaço seguro para
            facilitar a comunicação entre mulheres de todo o país.O projeto
            Girls Camp engloba a formação de um espaço seguro para facilitar a
            comunicação entre mulheres de todo o país.O projeto Girls Camp
            engloba a formação de um espaço seguro para facilitar a comunicação
            entre mulheres de todo o país.O projeto Girls Camp engloba a
            formação de um espaço seguro para facilitar a comunicação entre
            mulheres de todo o país.
          </b>
        </p>
      </div>
    </div>
    <div class="circulos">
      <ul>
        <img src="../../assets/img/Ellipse 4.png" alt="" />
        <img src="../../assets/img/Ellipse 4.png" alt="" />
        <img src="../../assets/img/Ellipse 4.png" alt="" />
        <img src="../../assets/img/Ellipse 4.png" alt="" />
      </ul>
    </div>

    <!--Contatos-->
    <div class="container-fluid bg">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="font-weight-bolder text-monospace p-4">Equipe de Devs</h1>
        </div>
      </div>
    </div>

    <!----------------------------------------->
    <div class="container" style="margin-bottom: 5rem">
      <div class="row d-flex justify-content-end mt-5">
        <div
          class="col-12 col-xl-3 align-self-center mb-4"
          style="text-align: center"
        >
          <img class="imgSize" src="../../assets/img/carol.jpg" alt="" />
        </div>
        <div class="col-12 col-xl-6 bgColor">
          <h5 class="text-center my-3">Carol</h5>
          <p class="text-right mx-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
            cumque maxime sit enim consequatur, perspiciatis ea provident
            placeat magni iste veritatis neque quia vel asperiores eaque. Facere
            incidunt illo ipsa!
          </p>
          <hr class="mx-5" />
          <div class="d-flex justify-content-center">
            <ul class="redesSociais">
              <li>
                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/facebook.png"
                    alt="Logo Facebook"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/instagram.png"
                    alt="Logo Instagram"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/BotaoEmail.png"
                    alt="Logo Email"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------->
    <!----------------------------------------->
    <div class="container" style="margin-bottom: 5rem">
      <div class="row g-0 d-flex justify-content-start gilson">
        <div class="col-12 col-xl-6 bgColor mx-3">
          <h5 class="text-center my-3">Gilson</h5>
          <p class="text-right mx-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
            cumque maxime sit enim consequatur, perspiciatis ea provident
            placeat magni iste veritatis neque quia vel asperiores eaque. Facere
            incidunt illo ipsa!
          </p>
          <hr class="mx-5" />
          <div class="d-flex justify-content-center">
            <ul class="redesSociais">
              <li>
                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/facebook.png"
                    alt="Logo Facebook"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/instagram.png"
                    alt="Logo Instagram"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/BotaoEmail.png"
                    alt="Logo Email"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-12 col-xl-3 align-self-center mb-4"
          style="text-align: center"
        >
          <img class="imgSize" src="../../assets/img/gilson.jpg" alt="" />
        </div>
      </div>
    </div>

    <!----------------------------------------->
    <!----------------------------------------->
    <div class="container" style="margin-bottom: 5rem">
      <div class="row g-0 d-flex justify-content-end">
        <div
          class="col-12 col-xl-3 align-self-center mr-3 mb-4"
          style="text-align: center"
        >
          <img class="imgSize" src="../../assets/img/helena.jpg" alt="" />
        </div>
        <div class="col-12 col-xl-6 bgColor mx-3">
          <h5 class="text-center my-3">Helena</h5>
          <p class="text-right mx-3">
            O início da minha jornada profissional foi em design gráfico e após
            anos neste caminho, não me via apaixonada pela minha profissão
            quanto poderia ser, deste modo fui apresentada a tecnologia pela
            minha irmã, onde encontrei minha paixão. Iniciei a faculdade de
            Análise e Desenvolvimento de Sistemas em Janeiro e fui aceita no
            bootcamp de Java FullStack Jr Developer na Generation da McKinsey e
            Company, onde estruturei em base sólida meus conhecimentos técnicos,
            além das minhas soft skills. Com o desejo de sempre melhorar e
            crescer, por mim e pela minha companheira de vida, minha filha, esse
            é o começo da minha carreira.
          </p>
          <hr class="mx-5" />
          <div class="d-flex justify-content-center">
            <ul class="redesSociais">
              <li>
                <a href="https://www.facebook.com/manjkohelena" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/facebook.png"
                    alt="Logo Facebook"
                  />
                </a>

                <a
                  href="https://www.instagram.com/helenamanjko/"
                  target="_blank"
                >
                  <img
                    width="50"
                    src="../../assets/img/instagram.png"
                    alt="Logo Instagram"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/BotaoEmail.png"
                    alt="Logo Email"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!----------------------------------------->

    <!----------------------------------------->
    <div class="container" style="margin-bottom: 5rem">
      <div class="row g-0 d-flex justify-content-start patrick">
        <div class="col-12 col-xl-6 bgColor mx-3">
          <h5 class="text-center my-3">Patrick</h5>
          <p class="text-right mx-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius
            cumque maxime sit enim consequatur, perspiciatis ea provident
            placeat magni iste veritatis neque quia vel asperiores eaque. Facere
            incidunt illo ipsa!
          </p>
          <hr class="mx-5" />
          <div class="d-flex justify-content-center">
            <ul class="redesSociais">
              <li>
                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/facebook.png"
                    alt="Logo Facebook"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/instagram.png"
                    alt="Logo Instagram"
                  />
                </a>

                <a href="#" target="_blank">
                  <img
                    width="50"
                    src="../../assets/img/BotaoEmail.png"
                    alt="Logo Email"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-xl-3 mb-4" style="text-align: center">
          <img class="imgSize" src="../../assets/img/patrick.jpg" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
